<!-- nmea_navsar_driver MUST be installed before -->
<!-- sudo apt-get install ros-kinetic-nmea-navsat-driver -->
<!-- publishes fix, vel and time_reference -->
<!-- For details: http://wiki.ros.org/nmea_navsat_driver-->
<launch> 

<include file="$(find nmea2000)/launch/my_nmea_driver.launch" />
<include file="$(find nav_uas)/launch/navigation.launch" />

<node pkg="boat_controller" type="cartest" name="cartest" />

</launch>
